/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Montserrat", sans-serif;
    background-color: black;
 
}
img{
    max-width: 100%;
}
/*------------ 350px ---------------*/
header{
   
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
   z-index: 100;
}
nav{
    display: flex;
    flex-direction: row-reverse; 
    height: 60px; 
    background-color: black;
   
}
.nav-link{
    color:white;
    text-decoration: none;
   
}
.nav-menu{
    display: flex;
    margin-right: 0.5rem;
    list-style: none;
    flex-direction: column;
    align-items: center;
    background-color: #555;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.5s;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
   line-height: 70px;
   max-width: max-content;
}
.nav-menu-link{
padding: 6px 10px;
border-radius: 2rem;

}
.nav-menu-link:hover{
  color: black;
  transition: .5s;
  box-shadow:  4px 4px 7px #333;
}
.home{
    color:#34b0be;
}
.nav-toogle{
    color: white;
    background: none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    padding-bottom: 75px;
    line-height: 60px;
    display: block;
    margin-right: 30px;
}
.nav-menu-visible{
    left: 0;
    font-size: 13px;
}
.image-presentBig{
    display: none;
}
.header-information{
    margin-top: 4rem;
    color: white;
   text-align: center;
    padding: 1rem 1.5rem;
    align-items: center;
   
}
.img-present{
    background-color:rgb(42, 45, 62);
    border-radius: 100%;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    min-width: fit-content;
    padding: 1rem 3rem;
    margin: auto;
    ;
    
}
.soy{
    font-size: 1.5rem;
   

}

.name{
    color:#34b0be;
   margin-top: 0.5rem;
   font-size: 300%;
   margin-bottom: 1rem;
   font-weight: bolder;
}
.line{
    height: 3px;
 max-width: 300px;
  background-color: white;
  border-radius: 5%;
  margin: auto;

}
.features{
   margin-top: 1rem;
}

.exp{
    margin-top: 2rem;
}
.icon-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.back-icon{
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 100%; 
    max-width: fit-content;
    padding: .5rem;
   
} 
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-containermax{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    background-color:rgb(42, 45, 62);
    border-radius: 5%;
  padding: .5rem;
  max-width: 300px;
  margin: auto;
}
.back-iconmax{
    background-color: rgb(122, 135, 143);
    border-radius: 10%; 
    margin: auto;
    display: flex;
    justify-content: center;
   width: 60px;
   height: 40px;
   
}
.iconmax{
    margin: 0.5rem;
    max-width: 30px;
    min-height: 30px;
}
.text-contain{
    color: rgb(138, 132, 132);
    text-align: center;
   max-width: 300px;
   margin: auto;
}
.text-tittle{
    color:#34b0be;
    margin-top: 5rem;
    font-size: 200%;
    margin-bottom: 1rem;
}
.text-description{
    margin-bottom: 5rem;
}

.service{
    color:#34b0be;
    margin-top: 5rem;
    font-size: 200%;
    margin-bottom: 1rem;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content:space-between;
    overflow-y: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    align-items: center;
    margin: auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
}
.logo-back{
    background-color: white;
    padding: .5rem;
    min-width: 200px;
    min-height: 300px;
}
.logo-srv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding-top: 1rem;
}
.tittle-img{
    text-align: center;
}
.parraf-img{
    text-align: center;
    padding-top: 2rem;
    font-size: 80%;
}
.skill-tittle{
    color:#34b0be;
    margin-top: 5rem;
    font-size: 200%;
    margin-bottom: 1rem;
    text-align: center;
}


.skill-mod{
    max-width: 400px;
    margin: auto;
}
.skill-text{
    color: white;
    margin-left: 3rem;
    display: flex;
    justify-content: left;
}
.skill-container{
    background-color: rgb(192, 192, 192);
        width: 80%;
        border-radius: 15px;
        height: 1rem;
        margin: auto;
        max-width: 320px;
        text-align: end;
        
}
.skill-container>span{
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #34b0be;
    overflow: hidden;
    animation: prog 2s linear;
}
.port-tittle{
    color:#34b0be;
    margin-top: 5rem;
    font-size: 200%;
    margin-bottom: 3rem;
    text-align: center;
}
.port-container{
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    align-items: center;
    margin: auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}
.port-back{
    padding: .5rem;
    min-width: 300px;
    min-height: 300px;
    margin-left: 0.5rem;
}
.port-img{
 margin: auto;
}
.contact-container{
   text-align: center;
   align-items: center;
   margin: auto;
   max-width:260px;
 
}
.contact-back{
    text-align: center;
    background-color: white;
   margin: 1rem;
   padding: 0.5rem;
   border-radius: 4%; 
   height: 150px;
}
.♥{
    color:#34b0be;
    text-align: center;
    font-size: 20px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight:900;
}
/*--------------542PX--------------*/
@media screen and (min-width: 510px){
.img-present{
    padding: 2rem 4rem;
}
.image-present{
    max-width: auto;
    width: 200px;
}
}
/*------------- 770 PX ----------- */
@media screen and (min-width: 770px) {
    .img-present{
        padding: 4rem 6rem;
    }
    .image-present{
        max-width: auto;
        width: 200px;
    }
    .icon-containermax{
        max-width: 500px;
    }
    .img-container{
        overflow-y: hidden;
    }
    }
   /*----------- 930px----------*/
   @media screen and (min-width: 930px) {
    /*nav{
        display: flex;
        justify-content: space-between;
        height: 90px;
    }*/
    .nav-menu{
        display: flex;
        justify-content: end;
       flex-direction:row;
       background-color: transparent;
       position: absolute;
       top: 10%;
       padding: 2rem 1.5rem;
       overflow:hidden; 
       align-items: end;
       margin-top: 1rem;
    }
    .nav-menu-item{
        font-size: 13px;
       padding:0 18px ;
        margin: 0 10px;
       line-height:40px;
       max-width: max-content;
       overflow-x: hidden;
    }
    .home{
        color:lightskyblue;
    }
    .nav-menu-link{
    padding: 6px 10px;
    border-radius: 2rem;
    
    }
    .nav-menu-link:hover{
      background-color: white;
      color: black;
      transition: .5s;
      box-shadow:  4px 4px 7px #999;
    } 

    .nav-toogle{
        display: none;
    }
    .header-information{
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        padding-left: 10rem;
        padding-right: 10rem;
        justify-content: center;

    }
    .img-present{
        padding: 0 6rem;
        margin-top: 5rem;
    }
    .image-present{
        display: none;
    }
    .image-presentBig{
        display:initial  ;
      
    }
    .header-text{
        position: absolute;
        text-align: left;
        padding-right: 75%;
        margin-left: 20%;
      
    }
    .soy{
        margin:auto;
        font-size: 2rem;
        display: flex;
        margin-bottom: 20px;
        }
        .line2{
            height: 3px;
            max-width: 300px;
             background-color: white;
             border-radius: 5%;
             margin: auto;  
        }
        
        .name{
            color:#34b0be;
           margin-top: 0.5rem;
           font-size: 300%;
           margin-bottom: 1rem;
           font-weight: bolder;
        }
        .line{
            display: none;
        }
        .features{
           margin-top: 1rem;
           font-size: 2rem;
        }
        
        .exp{
            margin-top: 2rem;
            font-size: 1.5rem;
        }
        .icon-container{
         
        }
        .back-icon{
            width: 60px;
            height: 60px;
        }
        .icon{
            min-width: 30px;
            margin: 0.5rem;
        }
        .icon-containermax{
            max-width: 100%;
            margin: 0 20%;
            height: 10rem;
            border-radius: 10px;
        }
        .back-iconmax{
            width: 150px;
            height: 120px;
        }
           
        .iconmax{
           max-width: 70px;
        }
        .text-contain{
            color: rgb(138, 132, 132);
            text-align: center;
           max-width: 70%;
           margin: auto;
        }
        .text-tittle{
            color:#34b0be;
            margin-top: 5rem;
            font-size: 200%;
            margin-bottom: 1rem;
        }
        .text-description{
            margin-bottom: 5rem;
            font-size: 1.5rem;
            color: white;
        }
        
        .service{
            color:#34b0be;
            margin-top: 5rem;
            font-size: 200%;
            margin-bottom: 1rem;
            text-align: center;
        }
        
        .img-container{
          overflow-y: hidden;
          overflow-x: hidden;
          align-items: center;
          margin: 0 20%;
        }
        .logo-back{
            background-color: white;
            padding: .5rem;
            min-width: 200px;
            min-height: 300px;
        }
        .logo-srv{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto;
            padding-top: 1rem;
        }
        .tittle-img{
            text-align: center;
        }
        .parraf-img{
            text-align: center;
            padding-top: 2rem;
            font-size: 80%;
        }
        .skill-tittle{
            color:#34b0be;
            margin-top: 5rem;
            font-size: 200%;
            margin-bottom: 1rem;
            text-align: center;
        }
        
        
        .skill-mod{
            max-width: 400px;
            margin: auto;
        }
        .skill-text{
            color: white;
            margin-left: 3rem;
            display: flex;
            justify-content: left;
        }
        .skill-container{
            background-color: rgb(192, 192, 192);
                width: 80%;
                border-radius: 15px;
                height: 1rem;
                margin: auto;
                max-width: 320px;
                text-align: end;
                
        }
        .skill-container>span{
            display: block;
            height: 100%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #34b0be;
            overflow: hidden;
            animation: prog 2s linear;
        }
        .port-tittle{
            color:#34b0be;
            margin-top: 5rem;
            font-size: 200%;
            margin-bottom: 3rem;
            text-align: center;
        }
        .port-container{
            display: flex;
            justify-content: space-between;
            overflow-y: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
            align-items: center;
            margin: auto;
            gap: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
           
        }
        .port-back{
            padding: .5rem;
            min-width: 300px;
            min-height: 300px;
            margin-left: 0.5rem;
        }
        .port-img{
         margin: auto;
        }
        .contact-container{
           text-align: center;
           align-items: center;
           margin: auto;
           max-width:260px;
         
        }
        .contact-back{
            text-align: center;
            background-color: white;
           margin: 1rem;
           padding: 0.5rem;
           border-radius: 4%; 
           height: 150px;
        }
        .♥{
            color:#34b0be;
            text-align: center;
            font-size: 20px;
            margin-top: 4rem;
            margin-bottom: 2rem;
            font-weight:900;
        }
}